<template>
  <div class="flex items-center justify-center h-screen w-screen bg-gray-200 text-gray-800 overflow-hidden">
    <div class="flex flex-col items-center">
      <img class="h-72 w-72 object-center object-scale-down" src="./assets/logo.png" alt="Lebah Dev">
      <p class="text-lg text-center">We are professional software developer.<br>We will grow up your bussiness.</p>
      <a href="https://api.whatsapp.com/send?phone=6282228464006" class="mt-8 px-4 py-2 rounded-full bg-gray-800 text-gray-200 font-semibold">Contact Us</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>
